@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

// Variables
$color-primary: #2bfed4;
$font-main: "Kanit", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scroll Bar Customizaion */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  //min-height: 100vh;
  font-family: $font-main;
  font-weight: 400;
}

.container-main {
  padding: 40px 100px;
  padding-left: 180px;
}

.container {
  padding: 40px 100px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

header {
  h1 {
    padding: 25px;
    text-align: center;
    font-size: 50px;
  }
}

/* Add Form */
.add-item {
  padding: 10px;
}

.add-item form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.add-item form input,
.add-item form textarea {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  outline: none;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.add-item form input:focus,
.add-item form textarea:focus {
  outline: 2px solid lightblue;
}

.add-item form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

button.add-button {
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: white;
  background: rgb(82, 181, 214);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button.add-button:hover {
  transform: scale(1.1);
}

.empty-list-pragraph {
  margin-top: 25px;
  padding: 50px;
  text-align: center;
  color: gray;
}

.title {
  font-weight: bold;
  padding: 5px 10px;
  background: #12121270;
  display: inline-block;
  border-radius: 10px;
}

.trash-button,
.color-button {
  background: transparent;
  border: none;
  outline: none;
  width: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.color-button {
  right: 40px;
}

img {
  width: 100%;
}

// -------- SIDEBAR --------

.sidebar {
  display: block;
  width: 100px;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: $color-primary;
  font-family: $font-main;
  transition: all 0.2s ease-in-out;
  .top-sidebar {
    padding: 20px;
    margin-top: 2vw;
    display: flex;
    align-items: center;
  }
  h1 {
    display: flex;
    overflow: hidden;
    //font-weight: 600;
    align-items: center;
    width: 60px;
    transition: all 0.2s ease-in-out;
    i {
      background-color: #ff5757;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      color: #ffffff;
      font-size: 2vw;
    }
    span {
      display: flex;
      text-transform: uppercase;
      font-weight: 400;
      flex-wrap: wrap;
      opacity: 0;
      padding: 10px 0;
      color: #121212;
      height: 60px;
      align-items: center;
      justify-content: flex-start;
      font-size: 2vw;
      width: calc(100% - 60px);
      overflow: hidden;
      strong {
        display: inline;
        font-weight: 800;
      }
    }
  }
}

.btn-open {
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: $color-primary 2px solid;
  text-decoration: none;
  color: $color-primary;
  i {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }
}

.sidebar.open {
  width: 20%;
  transition: all 0.1s ease-in-out;
  h1 {
    width: 100%;
    transition: all 0.1s ease-in-out;
    span {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      padding: 10px;
    }
  }

  .btn-menu {
    width: 100%;
    transition: all 0.1s ease-in-out;
    span {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      padding: 10px;
    }
  }
  .btn-open {
    i {
      transform: rotate(-180deg);
      transition: all 0.3s ease-in-out;
    }
  }
}

.navbar-container {
  gap: 10px;
  margin: 20px 0;
  padding: 20px;
  margin-top: 1vw;
  .btn-menu {
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    align-items: center;
    //border: 2px dotted lighten($color-primary, 40%);
    background-color: lighten($color-primary, 20%);
    width: 60px;
    transition: all 0.2s ease-in-out;
    &:hover {
      //border: 2px solid lighten($color-primary, 50%);
      background-color: lighten($color-primary, 40%);
      transition: all 0.2s ease-in-out;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      color: #121212;
      font-size: 2vw;
    }
    span {
      display: flex;
      opacity: 0;
      padding: 10px 0;
      color: #121212;
      height: 60px;
      align-items: center;
      width: calc(100% - 60px);
      overflow: hidden;
    }
  }
}

// -------- MAIN Printable --------

.printable {
  margin-top: 60px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  //border: grey 1px dotted;
  box-shadow: 0px 0px 20px #12121239;
  position: relative;
  background-size: cover;

  > div {
    //border: 1px solid red;
  }
  > :nth-last-child(1) {
    //border: 1px solid blue;
  }
}

.format-a3 {
  width: 100%;
  //aspect-ratio: 1/1.414;
}

.muuri {
  position: relative;
  //padding: 40px;
  width: 100%;
}

// -------- CARDS --------

.item {
  position: absolute;
  z-index: 1;
  width: calc(100% / 5 - 20px);
  aspect-ratio: 1/1.35;
  cursor: grab;
  margin: 10px;
}

.item:active {
  cursor: grabbing;
}

.template-1 {
  font-family: $font-main;
  .top-roster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    gap: 2vw;
  }
  .text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logo-team-container {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .event-name {
    font-size: 2vw;
  }
  .team-name {
    font-size: 6vw;
  }
  .item {
    background-color: aquamarine;
    //box-shadow: 5px 5px 10px #12121270;
    border-radius: 10px;
    color: #121212;
    overflow: hidden;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .photo-container {
    background-color: #00000050;
    width: 100%;
    height: 100%;
  }
  .bottom-card {
    //min-height: 55px;
    padding: 5%;
    text-align: center;
  }
  .position-container {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.color-picker-container {
  position: absolute;
  max-width: 100%;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.color-picker-container.show {
  z-index: 10;
  opacity: 1;
}

.muuri-item {
  z-index: 1;
}
.muuri-item-dragging {
  z-index: 3;
}
.muuri-item-releasing {
  z-index: 2;
}
.muuri-item-hidden {
  z-index: 0;
}

// -------- MODAL --------

.modal-container {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 100px;
  padding: 15vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  visibility: hidden;
  transition: visibility 0.4s;
  &.active {
    visibility: visible;
    .overlay {
      opacity: 1;
      transition: opacity 0.4s ease-out;
    }
    .modal {
      opacity: 1;
      //transform: translate(-50%, 0);
      //transition: opacity 0.4s 0.2 ease-out, transform 0.4s 0.2 ease-out;
    }
  }
}

.overlay {
  z-index: 50;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.modal {
  opacity: 0;
  width: 100%;
  overflow: scroll;
  padding: 15px;
  min-width: 300px;
  max-height: calc(100vh - 80px);
  background: #fff;
  border-radius: 10px;
  //position: absolute;
  //top: calc(50vh - 120px);
  //left: calc(50% + 120px);
  z-index: 300;
  //transform: translate(-50%, 0);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.content-modal {
  padding: 20px 20px;
  gap: 20px;
  font-family: $font-main;
  p {
    margin-bottom: 10px;
  }
  .block-input {
  }
}
