* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scroll Bar Customizaion */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
}

.container {
  padding: 40px 100px;
}

header {
  h1 {
    padding: 25px;
    text-align: center;
    font-size: 50px;
  }
}

/* Add Form */
.add-item {
  padding: 10px;
}

.add-item form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.add-item form input,
.add-item form textarea {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  outline: none;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.add-item form input:focus,
.add-item form textarea:focus {
  outline: 2px solid lightblue;
}

.add-item form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

button.add-button {
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: white;
  background: rgb(82, 181, 214);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button.add-button:hover {
  transform: scale(1.1);
}

.empty-list-pragraph {
  margin-top: 25px;
  padding: 50px;
  text-align: center;
  color: gray;
}

.title {
  font-weight: bold;
  padding: 5px 10px;
  background: #12121270;
  display: inline-block;
  border-radius: 10px;
}

.trash-button,
.color-button {
  background: transparent;
  border: none;
  outline: none;
  width: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.color-button {
  right: 40px;
}

img {
  width: 100%;
}

// -------- MAIN Printable --------

.printable {
  margin-top: 60px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: grey 1px dotted;
  box-shadow: 0px 0px 20px #12121239;
  > div {
    border: 1px solid red;
  }
}

.format-a3 {
  width: 100%;
  aspect-ratio: 1/1.414;
}

.muuri {
  position: relative;
  padding: 40px;
  width: 100%;
}

// -------- CARDS --------

.item {
  position: absolute;
  z-index: 1;
  width: calc(100% / 5 - 20px);
  aspect-ratio: 1/1.414;
  cursor: grab;
  margin: 10px;
}

.item:active {
  cursor: grabbing;
}

.template-1 {
  background-color: aquamarine;
  //box-shadow: 5px 5px 10px #12121270;
  border-radius: 10px;
  color: #121212;
  overflow: hidden;

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .photo-container {
    background-color: #00000050;
    width: 100%;
    height: 100%;
  }
  .bottom-card {
    //min-height: 55px;
    padding: 5%;
    text-align: center;
  }
  .position-container {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.color-picker-container {
  position: absolute;
  max-width: 100%;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.color-picker-container.show {
  z-index: 10;
  opacity: 1;
}

.muuri-item {
  z-index: 1;
}
.muuri-item-dragging {
  z-index: 3;
}
.muuri-item-releasing {
  z-index: 2;
}
.muuri-item-hidden {
  z-index: 0;
}
