@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

// Variables
$color-primary: #2bfed4;
$font-main: "Kanit", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scroll Bar Customizaion */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  //min-height: 100vh;
  font-family: $font-main;
  font-weight: 400;
}

.container-main {
  //padding: 40px 100px;
  padding-left: 180px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0 auto;
}

.container {
  padding: 40px 100px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.open {
  display: flex;
}

.close {
  display: none;
}

header {
  h1 {
    padding: 25px;
    text-align: center;
    font-size: 50px;
  }
}

/* Add Form */
.add-item {
  padding: 10px;
}

.add-item form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.add-item form input,
.add-item form textarea {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  outline: none;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.add-item form input:focus,
.add-item form textarea:focus {
  outline: 2px solid lightblue;
}

.add-item form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}

button.add-button {
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: white;
  background: rgb(82, 181, 214);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button.add-button:hover {
  transform: scale(1.1);
}

.empty-list-pragraph {
  margin-top: 25px;
  padding: 50px;
  text-align: center;
  color: gray;
}

.title {
  font-weight: bold;
  padding: 5px 10px;
  background: #12121270;
  display: inline-block;
  border-radius: 10px;
}

.trash-button,
.color-button {
  background: transparent;
  border: none;
  outline: none;
  width: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.color-button {
  right: 40px;
}

img {
  width: 100%;
}

// -------- SIDEBAR --------

.sidebar {
  display: block;
  width: 85px;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  background-color: $color-primary;
  font-family: $font-main;
  transition: all 0.2s ease-in-out;

  .top-sidebar {
    padding: 10px 10px 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  h1 {
    display: flex;
    overflow: hidden;

    //font-weight: 600;
    align-items: center;
    width: 60px;
    transition: all 0.2s ease-in-out;
    i {
      background-color: #ff5757;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      color: #ffffff;
      font-size: 2vw;
    }
    span {
      display: flex;
      text-transform: uppercase;
      font-weight: 400;
      flex-wrap: wrap;
      opacity: 0;
      padding: 0;
      color: #121212;
      height: 60px;
      align-items: center;
      justify-content: flex-start;
      font-size: 28px;
      width: calc(100% - 60px);
      overflow: hidden;
      strong {
        display: inline;
        font-weight: 800;
        margin-right: 5px;
      }
    }
  }
}

.btn-solid {
  padding: 5px 10px;
  border: 1px solid white;
  background-color: #ff5757;
  border-radius: 5px;
  color: white;
  font-family: $font-main;
  font-size: 16px;
}

.btn-open {
  right: -15px;
  top: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: $color-primary 2px solid;
  text-decoration: none;
  color: $color-primary;
  z-index: 1000;
  i {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }
}

.sidebar.open {
  width: 20%;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  h1 {
    width: 100%;
    transition: all 0.1s ease-in-out;
    gap: 10px;
    span {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }

  .btn-menu {
    width: 100%;
    transition: all 0.1s ease-in-out;

    cursor: pointer;
    height: 60px;
    span {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      padding: 10px;
      font-family: $font-main;
      font-size: 16px;
    }
  }
  .btn-open {
    i {
      transform: rotate(-180deg);
      transition: all 0.3s ease-in-out;
    }
  }
}

.navbar-container {
  gap: 10px;
  padding: 0px 10px 20px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  .submit-block {
    width: 100%;
  }
  input[type="submit"] {
    width: 100%;
  }
  .btn-menu {
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    border: none;
    //overflow: hidden;
    align-items: center;
    //border: 2px dotted lighten($color-primary, 40%);
    background-color: #5dddc5;
    width: 60px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      //border: 2px solid lighten($color-primary, 50%);
      background-color: lighten($color-primary, 40%);
      transition: all 0.2s ease-in-out;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      color: rgb(0, 0, 0);
      font-size: 2vw;
    }
    span {
      display: flex;
      opacity: 0;
      padding: 10px 0;
      color: rgb(0, 0, 0);
      height: 60px;
      align-items: center;
      width: calc(100% - 60px);
      overflow: hidden;
    }
  }
}

// -------- MAIN Printable --------

.printable-contener {
  margin-top: 60px;
  box-shadow: 0px 0px 20px #12121239;
}

.printable {
  display: flex;
  flex-direction: column;
  //border: grey 1px dotted;

  background-size: cover;

  > div {
    //border: 1px solid red;
  }
  > :nth-last-child(1) {
    //border: 1px solid blue;
  }
}

.format-a3 {
  width: 1050px;
  //aspect-ratio: 1/1.414;
  height: 1484.7px;
}

.format-a3 .printable {
  padding: 25px 40px;
}

.muuri {
  position: relative;
  //padding: 40px;
  width: 100%;
  //border: 1px solid blue;
}

// -------- CARDS --------

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.item {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  //border: 1px solid red;
  //aspect-ratio: 1/1.35;
  cursor: grab;
}

.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  //background: red;
  //font-size: 50px;
  color: white;
  cursor: pointer;
}
.item.muuri-item-dragging .item-content {
  background: blue;
}
.item.muuri-item-releasing .item-content {
  background: blueViolet;
}

.item:active {
  cursor: grabbing;
}

.template-1 {
  font-family: $font-main;

  .top-roster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    gap: 20px;
    padding: 0 10px;
    margin-bottom: 5px;
  }
  .text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .logo-team-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .event-name {
    font-size: 24px;
  }
  .team-name {
    font-size: 60px;
  }
  .item {
    background-color: aquamarine;
    //box-shadow: 5px 5px 10px #12121270;
    border-radius: 10px;
    color: #121212;
    //overflow: hidden;
    width: 171px;
    // witdth * 1.414
    height: 244.622px;
    margin: 11px;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .photo-container {
    background-color: #00000050;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .bottom-card {
    //min-height: 55px;
    padding: 5%;
    text-align: center;
  }
  .position-container {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.color-picker-container {
  position: absolute;
  max-width: 100%;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.color-picker-container.show {
  z-index: 10;
  opacity: 1;
}

.muuri-item {
  z-index: 1;
}
.muuri-item-dragging {
  z-index: 3;
}
.muuri-item-releasing {
  z-index: 2;
}
.muuri-item-hidden {
  z-index: 0;
}

// -------- MODAL --------

.modal-container {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 100px;
  padding: 15vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  visibility: hidden;
  transition: visibility 0.4s;
  &.active {
    visibility: visible;
    .overlay {
      opacity: 1;
      transition: opacity 0.4s ease-out;
    }
    .modal {
      opacity: 1;
      //transform: translate(-50%, 0);
      //transition: opacity 0.4s 0.2 ease-out, transform 0.4s 0.2 ease-out;
    }
  }
}

.overlay {
  z-index: 50;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.modal {
  opacity: 0;
  width: 100%;
  overflow: scroll;
  padding: 15px;
  min-width: 300px;
  max-height: calc(100vh - 80px);
  background: #fff;
  border-radius: 10px;
  //position: absolute;
  //top: calc(50vh - 120px);
  //left: calc(50% + 120px);
  z-index: 300;
  //transform: translate(-50%, 0);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.content-modal {
  padding: 20px 20px;
  gap: 20px;
  font-family: $font-main;
  p {
    margin-bottom: 10px;
  }
  .block-input {
  }
}

// ------ Customize roster -------

form.customize {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.block-group {
  border: 1px solid #ffffff;
  padding: 20px 10px;
  border-radius: 5px;
  width: 100%;
  h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.block-input,
.block-input-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.block-input-row {
  flex-direction: row;
  align-items: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

input[type="color" i] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  inline-size: 30px;
  block-size: 30px;
  border-radius: 100%;
  cursor: pointer;
  color: buttontext;
  border: 2px solid white;
}

*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

hr {
  box-sizing: border-box;
  border: 0 none transparent;
  border-top: 1px dotted white;
  margin: 20px 0;
}

/* FIX OF UGLY SELECT */
select {
  background: white
    url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  border-radius: 5px;
}

.checkbox-wrapper-24 .checkbox {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.checkbox-wrapper-24 label {
  display: flex;
  flex-direction: row;
  align-items: center;
  // display: inline-block;
  // color: #333;
  // cursor: pointer;
  // position: relative;
}
.checkbox-wrapper-24 label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transform-origin: center;
  border: 2px solid #333;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  transition: background-color 150ms 200ms,
    transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(45deg);
  top: 8px;
  left: 5px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #333;
  position: absolute;
  transform: rotate(305deg);
  top: 12px;
  left: 6px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"] {
  display: none;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span {
  background-color: #333;
  transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
